---
import PageLayout from "../layouts/PageLayout.astro";
import { Image } from "astro:assets";
import { getCollection, type CollectionEntry } from "astro:content";
import { PlaneVector } from "../components/svgs/PlaneVector";
import ProjectsScroller from "../components/ProjectsScroller.astro";
type Post = CollectionEntry<"blog">;
type Project = CollectionEntry<"project">;
const projects: Project[] = await getCollection("project");
const posts: Post[] = await getCollection("blog");
---

<PageLayout
    description={`Oli Saxon | Explorer in the world of software development, dipping my toes in
        web-design & UX.`}
    title="Home page"
>
    <section class="relative full-width text-text">
        <h1 class="text-title z-50 font-heading font-bold flex items-end">
            Oli Saxon
        </h1>
        <p class="z-50 text-small opacity-40">
            Software Developer | Problem Solver | Design Enthusiast
        </p>
        <h2 class="font-heading mt-4 z-50 text-sub-title">
            A curious mind exploring software development and technology.
        </h2>
        <PlaneVector />
    </section>

    <ProjectsScroller />

    <!-- <section class="full-width border">
        <h2 class="text-sub-title font-heading mb-sm">Projects</h2>
        <ul class="grid grid-cols-2">
            {
                projects.map((project) => (
                    <li class="border">
                        <a
                            href={`/projects/${project.slug}`}
                            class="font-heading"
                        >
                            {project.data.title}
                        </a>
                        <Image
                            alt=""
                            width={1200}
                            height={800}
                            class="w-64 object-cover"
                            src={project.data.image}
                        />
                        <ul class="flex gap-2">
                            {project.data.tags.map((tag: string) => (
                                <p>{tag}</p>
                            ))}
                        </ul>
                    </li>
                ))
            }
        </ul>
    </section> -->

    <section class="full-width text-text py-6">
        <h2 class="text-sub-title font-heading mb-sm">A bit about me</h2>

        <p class="text-small mb-xs">
            I'm a full-stack software developer working with JavaScript &
            Typescript, Node and React.
        </p>
        <p class="text-small mb-xs">
            As a new member in the field, I appreciate the chance to collaborate
            and enhance my understanding of current web best practices. I'm
            always ready to learn and contribute to practical solutions.
        </p>
        <p class="text-small mb-xs">
            When I'm not coding, I enjoy bouldering, yoga, and music production
            - usually not all at the same time 😄
        </p>
        <p class="text-small">
            Feel free to <span
                ><a
                    class="underline text-accent"
                    href="mailto:oliverrsaxon@gmail.com">get in touch</a
                ></span
            >.
        </p>
    </section>

    <section class="py-8 full-width">
        <h2 class="text-sub-title font-heading mb-sm">Penny for my thoughts</h2>
        <p class="text-paragraph mb-lg">
            My thoughts and insights on my jouryney into web development,
            sprinkled with occasional non-tech related reflections.
        </p>
        <ul class="space-y-md">
            {
                posts.map(({ slug, data: { title, exerpt, tags } }) => (
                    <li class="list-none rounded relative group flex gap-4 justify-between ">
                        <div class="space-y-2">
                            <a
                                href={`/blog/${slug}`}
                                class="text-paragraph font-bold"
                            >
                                <h3>{title}</h3>
                            </a>
                            <p class="text-small max-w-md">{exerpt}</p>
                            {tags && (
                                <ul class="flex gap-1">
                                    {tags.map((tag: string) => (
                                        <li class="text-sm px-2 py-1 rounded bg-accent text-background border-secondary">
                                            {tag}
                                        </li>
                                    ))}
                                </ul>
                            )}
                        </div>
                    </li>
                ))
            }
        </ul>
    </section>
</PageLayout>

<style>
    .hero-banner {
        background-image: url("https://res.cloudinary.com/djaiep6vj/image/upload/v1700609385/iPhone_14_-_1_ejp5jw.png");
        background-position: center;
        background-attachment: fixed;
    }
</style>
