---
import PageLayout from "../layouts/PageLayout.astro";
import { Image } from "astro:assets";
import ProjectsScroller from "../components/ProjectsScroller.astro";
import { getCollection, type CollectionEntry } from "astro:content";
type Post = CollectionEntry<"blog">;
const posts: Post[] = await getCollection("blog");
---

<PageLayout
    title="Welcome to Astro."
    description={`Oli Saxon | Explorer in the world of software development, dipping my toes in
        web-design & UX.`}
>
    <h1 class="text-title font-heading font-bold">Oli Saxon</h1>
    <p class="font-heading text-sub-title mb-[var(--space-lg)]">
        Explorer in the world of software development, dipping my toes in
        web-design & UX.
    </p>
    <ProjectsScroller />

    <section class="space-y-8">
        <p class="text-sub-title font-heading mb-10">A bit about me</p>
        <p class="text-small">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id dicta
            incidunt atque aut, autem eius similique voluptatum dolores
            accusamus. Reiciendis veritatis dolor quod nulla porro quam suscipit
            unde vero voluptate. Ipsum pariatur perspiciatis tempora culpa
            recusandae cumque saepe doloribus esse eligendi totam a suscipit
            nemo unde repellendus.
        </p>
    </section>

    <section class="space-y-8 mb-10">
        <p class="text-sub-title font-heading mb-10">Latest Posts</p>

        {
            posts.map(({ slug, data: { image, title, exerpt, tags } }) => (
                <div class="list-none relative group flex gap-4 justify-between ">
                    <div class="space-y-2">
                        <a
                            href={`/blog/${slug}`}
                            class="text-xl font-bold underline"
                        >
                            <h3 class="text-secondary-900">{title}</h3>
                        </a>
                        <p class="text max-w-md">{exerpt}</p>
                        {tags && (
                            <ul class="flex gap-1">
                                {tags.map((tag) => (
                                    <li class="text-xs p-1 rounded bg-background-100 border-secondary-400 text-text-900">
                                        {tag}
                                    </li>
                                ))}
                            </ul>
                        )}
                    </div>

                    {image && (
                        <Image
                            width={120}
                            height={120}
                            src={image}
                            alt=""
                            class="object-cover bg-primary-400 rounded-lg p-2 opacity-75 group-hover:opacity-100 transition-opacity max-w-full"
                        />
                    )}
                </div>
            ))
        }
    </section>
</PageLayout>
