---
import { type CollectionEntry, getCollection } from "astro:content";
import MarkdownLayout from "../../layouts/MarkdownLayout.astro";

type Project = CollectionEntry<"project">;

export async function getStaticPaths() {
    const projects = await getCollection("project");
    return projects.map((project: Project) => ({
        params: { slug: project.slug },
        props: { project },
    }));
}

interface Props {
    project: Project;
}

const { project } = Astro.props;
const { Content, headings } = await project.render();
---

<MarkdownLayout
    title={project.data.title}
    path="projects"
    description={`A markdown page about project ${project.data.title} by Oli Saxon`}
>
    <h1>{project.data.title}</h1>
    <h4>{project.data.description}</h4>
    <!-- <div class="my-md">
        {
            headings.map((heading) => {
                return (
                    <li data-heading-level={heading.depth}>
                        <a href={`/projects/${project.slug}/#${heading.slug}`}>
                            {heading.text}
                        </a>
                    </li>
                );
            })
        }
    </div> -->
    <Content />
</MarkdownLayout>
